@import "./reset.css";
@import "./fonts.css";
/*Estilando el header*/
section.hero {
  width: 100%;
  height: 525px;
  background-image: url("../img/heroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  position: relative;
}
section.hero > h1 {
  text-align: center;
  color: var(--colorBlanco);
  font-size: 3em;
}
section.hero > span {
  position: absolute;
  bottom: 30%;
  left: 5em;
  color: var(--colorBlanco);
  font-weight: bold;
  font-size: 2.5em;
  background-color: var(--colorAzulRGBA);
  padding: 10px;
  border-radius: 10px;
  font-family: "Helvetica";
}
/*Estilando about me*/
section.aboutMe {
  background-color: var(--colorCelesteClaro);
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
section.aboutMe h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
}
section.aboutMe > article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: auto;
}
section.aboutMe > article > p {
  color: var(--colorBlanco);
  margin: 15px auto;
  font-family: Arial;
  font-size: 0.9em;
}
section.aboutMe > article > a {
  background-color: var(--colorRosadoClaro);
  border: 1px solid var(--colorRosadoClaro);
  color: var(--colorBlanco);
  border-radius: 20px;
  text-decoration: none;
  padding: 18px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
  font-family: "Helvetica";
  transition: 0.25s ease all;
}
section.aboutMe > article > a:hover {
  background-color: var(--colorRosadoHover);
}
section.aboutMe > article > a:active {
  transform: scale(0.9);
}
/*section skills*/
section.mySkills {
  width: inherit;
  height: 40vh;
  background-color: var(--colorPurpura);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
section.mySkills h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
}
section.mySkills > .contentSkills {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
section.mySkills > .contentSkills > .skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin-right: 30px;
}
section.mySkills > .contentSkills > .skills > span {
  font-family: Helvetica;
  color: var(--colorBlanco);
  font-size: 18px;
}
/*barras de skills*/
.contentBar {
  width: 100%;
  height: 20px;
  background-color: var(--colorBlanco);
  border-radius: 10px;
  margin-bottom: 15px;
}
.bar {
  width: 50%;
  height: 100%;
  background-color: var(--coloTurquesClaro);
  border-radius: 10px;
}
/*Seccion portfolio*/
section.myPortfolio {
  width: inherit;
  height: auto;
  background-color: var(--coloAmarillo);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.myPortfolio h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
}
section.myPortfolio > .containerPorfolio {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(2, 92px);
  grid-gap: 30px;
  justify-content: center;
}
section.myPortfolio > .containerPorfolio .item {
  width: 140px;
  height: 92px;
}
section.myPortfolio > .containerPorfolio .item img {
  width: 100%;
  height: 100%;
  display: block;
}
/*seccion cliente*/
section.myClients {
  width: inherit;
  height: auto;
  background-color: var(--coloGrisAzulino);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
section.myClients h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
}
section.myClients > .contentClients {
  width: inherit;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.myClients > .contentClients > img {
  width: auto;
  height: auto;
}
/*SECCION DE CONTACTO*/
section.contactMe {
  background-color: var(--colorGrisAzul);
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.contactMe h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
  margin: 27px 0;
}
section.contactMe > form {
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.contactMe > form > div {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 10px 0;
}
section.contactMe > form > div > input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 90%;
  margin-right: 20px;
  padding: 20px;
  outline: none;
  border: 0;
}
section.contactMe > form > div > input[type="text"]:focus:invalid,
input[type="tel"]:focus:invalid,
input[type="email"]:focus:invalid,
textarea:focus:invalid {
  background-color: var(--colorRojoInvalid);
}
section.contactMe > form > div > input[type="text"]:focus:valid,
input[type="tel"]:focus:valid,
input[type="email"]:focus:valid,
textarea:focus:valid {
  background-color: var(--colorVerdeInvalid);
}
section.contactMe > form > div > textarea {
  width: 100%;
  height: 110px;
  padding: 20px;
  margin-right: 20px;
  outline: none;
}
section.contactMe > form button {
  border: 0;
  background-color: var(--colorAzulOscuro);
  border: 1px solid var(--colorAzulOscuro);
  color: var(--colorBlanco);
  cursor: pointer;
  width: 16%;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  transition: 0.25s ease all;
}
section.contactMe > form button:hover {
  background-color: var(--colorBlanco);
  color: var(--colorAzulOscuro);
}
