@import "./fonts.css";

/*Estilnado el menu*/
header.content-menu {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--colorMenu);
  position: fixed;
  top: 0;
  z-index: 99;
}
header.content-menu h2 {
  color: var(--colorBlanco);
  font-size: 2em;
}
header.content-menu nav.menu {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header.content-menu nav.menu a {
  font-size: 1em;
  color: var(--colorBlanco);
  border-radius: 10px;
  padding: 5px 12px;
  transition: 0.25s ease all;
}
header.content-menu nav.menu a:hover {
  background-color: var(--colorMenuItemHover);
}
header.content-menu .burgerButton {
  display: none;
}
/*Estilando el header*/
section.hero {
  width: 100%;
  height: 525px;
  background-image: url("../img/heroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  background-position: 100% 50%;
  position: relative;
}
section.hero > h1 {
  text-align: center;
  color: var(--colorBlanco);
  font-size: 3em;
}
section.hero > span {
  position: absolute;
  bottom: 30%;
  left: 5em;
  color: var(--colorBlanco);
  font-weight: bold;
  font-size: 2.5em;
  background-color: var(--colorAzulRGBA);
  padding: 10px;
  border-radius: 10px;
  font-family: "Helvetica";
}
/*Estilando about me*/
section.aboutMe {
  background-color: var(--colorCelesteClaro);
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
section.aboutMe h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
}
section.aboutMe > article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: auto;
}
section.aboutMe > article > p {
  color: var(--colorBlanco);
  margin: 15px auto;
  font-family: Arial;
  font-size: 0.9em;
}
section.aboutMe > article > a {
  background-color: var(--colorRosadoClaro);
  border: 1px solid var(--colorRosadoClaro);
  color: var(--colorBlanco);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 7.5em;
  height: 62px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
  font-family: "Helvetica";
  transition: 0.25s ease all;
}
section.aboutMe > article > a:hover {
  background-color: var(--colorRosadoHover);
}
section.aboutMe > article > a:active {
  transform: scale(0.9);
}
/*section skills*/
section.mySkills {
  width: inherit;
  height: auto;
  padding: 1em;
  background-color: var(--colorPurpura);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
section.mySkills h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
  margin-bottom: 30px;
}
section.mySkills > .contentSkills {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
section.mySkills > .contentSkills > .skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin-right: 30px;
}
section.mySkills > .contentSkills > .skills > span {
  font-family: Helvetica;
  color: var(--colorBlanco);
  font-size: 18px;
  margin-bottom: 12px;
}
/*barras de skills*/
.contentBar {
  width: 100%;
  height: 20px;
  background-color: var(--colorBlanco);
  border-radius: 10px;
  margin-bottom: 15px;
}
.bar {
  width: 50%;
  height: 100%;
  background-color: var(--coloTurquesClaro);
  border-radius: 10px;
}
/*Seccion portfolio*/
section.myPortfolio {
  width: inherit;
  height: auto;
  background-color: var(--coloAmarillo);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.myPortfolio h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
}
section.myPortfolio > .containerPorfolio {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(2, 92px);
  grid-gap: 30px;
  justify-content: center;
  justify-items: center;
}
section.myPortfolio > .containerPorfolio .item {
  width: 140px;
  height: 92px;
}
section.myPortfolio > .containerPorfolio .item img {
  width: 100%;
  height: 100%;
  display: block;
}
/*seccion cliente*/
section.myClients {
  width: inherit;
  height: auto;
  background-color: var(--coloGrisAzulino);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
section.myClients h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
}
section.myClients > .contentClients {
  width: inherit;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.myClients > .contentClients > img {
  width: auto;
  height: auto;
}
/*SECCION DE CONTACTO*/
section.contactMe {
  background-color: var(--colorGrisAzul);
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.contactMe h2 {
  font-size: 36px;
  color: var(--colorBlanco);
  text-align: center;
  margin: 27px 0;
}
section.contactMe > form {
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.contactMe > form > div {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 10px 0;
}
section.contactMe > form > div > input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 90%;
  margin-right: 20px;
  padding: 20px;
  outline: none;
  border: 0;
}
section.contactMe > form > div > input[type="text"]:focus:invalid,
input[type="tel"]:focus:invalid,
input[type="email"]:focus:invalid,
textarea:focus:invalid {
  background-color: var(--colorRojoInvalid);
}
section.contactMe > form > div > input[type="text"]:focus:valid,
input[type="tel"]:focus:valid,
input[type="email"]:focus:valid,
textarea:focus:valid {
  background-color: var(--colorVerdeInvalid);
}
section.contactMe > form > div > textarea {
  width: 100%;
  height: 110px;
  padding: 20px;
  margin-right: 20px;
  outline: none;
  font-family: "Helvetica";
  border: 0;
}
section.contactMe > form button {
  border: 0;
  background-color: var(--colorAzulOscuro);
  border: 1px solid var(--colorAzulOscuro);
  color: var(--colorBlanco);
  cursor: pointer;
  width: 16%;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  transition: 0.25s ease all;
}
section.contactMe > form button:hover {
  background-color: var(--colorBlanco);
  color: var(--colorAzulOscuro);
}

/*RESPONSIVE DESING*/
/*TABLET H*/
@media screen and (max-width: 1024px) {
  section.hero {
    height: 80vh;
    background-position: 50% 50%;
    background-attachment: fixed;
  }
  section.hero > span {
    font-size: 1.8em;
  }
  section.aboutMe {
    height: auto;
  }
  section.aboutMe > article {
    margin: 0 auto 15px;
  }
  section.mySkills > .contentSkills {
    margin: 0 auto 15px auto;
  }
  section.myClients > .contentClients {
    margin: 15px 0;
  }
}
/*TABLET V*/
@media screen and (max-width: 768px) {
  header.content-menu {
    justify-content: space-around;
  }
  header.content-menu .burgerButton {
    display: block;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease all;
  }
  header.content-menu .burgerButton:hover {
    background-color: var(--colorMenuItemHover);
  }
  header.content-menu .burgerButton i {
    font-size: 1.5em;
    color: var(--colorBlanco);
  }
  header.content-menu nav.menu {
    position: absolute;
    flex-direction: column;
    background-color: var(--colorMenu);
    width: 100%;
    top: 3.6em;
    left: -70em;
    transition: 0.4s ease all;
  }
  header.content-menu nav.menu.appear {
    left: 0;
  }
  header.content-menu nav.menu a {
    border-radius: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--colorBlanco);
  }
  header.content-menu nav.menu a:first-child {
    border-top: 0;
  }
  section.hero > span {
    bottom: 15%;
    left: 1.5em;
  }
  section.myPortfolio > .containerPorfolio {
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px 1em;
  }
  section.aboutMe > article > p {
    font-size: 14px;
  }
  section.aboutMe > article > a {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
/*MOBILE*/
@media screen and (max-width: 480px) {
  section.hero {
    background-size: cover;
    background-position: 40% 50%;
  }
  section.hero > span {
    left: 1em;
  }
  section.myClients > .contentClients {
    flex-direction: column;
    flex-wrap: unset;
    height: auto;
  }
  section.mySkills > .contentSkills {
    flex-direction: column;
    align-items: center;
  }
  section.myPortfolio > .containerPorfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  section.myClients > .contentClients > img {
    margin: 10px 0;
  }
  section.contactMe > form button {
    width: 50%;
  }
  section.contactMe > form > div {
    flex-direction: column;
  }
  section.contactMe > form > div > input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    margin: 0 0 10px 0;
  }
  section.contactMe > form button {
    width: 100%;
  }
}
