@import "./fonts.css";

:root {
  --colorBlanco: #ffffff;
  --colorAzulRGBA: rgba(114, 153, 254, 0.5);
  --colorCelesteClaro: #7299fe;
  --colorRosadoClaro: #d16fff;
  --colorRosadoHover: #c860f8;
  --colorPurpura: #9122ff;
  --coloTurquesClaro: #57eff9;
  --coloAmarillo: #ffd233;
  --coloGrisAzulino: #3f4e62;
  --colorGrisAzul: #1687a0;
  --colorAzulOscuro: #233451;
  --colorNegro: #222222;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
span {
  font-family: "Helvetica";
}
